/* common css */
:root{
    --primary-color: #794df2;
    --secondary-color: #ffaf5;
    --text-color: #1a1a1a;
    --dark-color: #333;
    --heading-color: #26235c;
    --light-text:#666;
    --white:#fff;
    --black:#000;
    --puple2:#5428f5;
    --gradient: linear-gradient(40deg, #794df2, #845af7);
    --shadow:0 10px 20px rgba(0, 0, 0, 0.05);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    line-break: 1.6;
}
body::-webkit-scrollbar{width:10px;}
body::-webkit-scrollbar-thumb{
    background:var(--primary-color);
    border-radius:10px;
}
.primaryBtn{
    background: var(--primary-color);
    color: var(--white);
    padding:15px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition:0.4s ease-in-out;
    box-shadow: 0 10px 30px rgba(123, 78, 255, 0.28);
    text-decoration: none;
}
.primaryBtn:hover{
    background: transparent;
    color: var(--primary-color);
}
.outlineBtn{
    background: transparent;
    color: var(--primary-color);
    padding:15px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition:0.4s ease-in-out;
    box-shadow: 0 10px 30px rgba(123, 78, 255, 0.28);
    text-decoration: none;
    margin-right: 20px;
}
.outlineBtn:hover{
    background: var(--primary-color);
    color: var(--white);
}

/* Header */
#mainHeader.fixed{
    position: fixed;
    top:0;
    left:0;
    background: var(--white);
    box-shadow: var(--shadow);
    width: 100%;
    z-index: 9999;
    padding: 10px 100px;
    max-width: 100%;
}
#mainHeader{transition: all 0.3s ease;}
header, .container{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    gap: 100px;
    padding: 20px;
}
.logo{
    font-weight: bold; 
    font-size: 24px;
    color: var(--heading-color);
}
.logo .bx{
    font-size: 33px;
    color: var(--primary-color);
    line-height: 37px;
    vertical-align: sub;
}
nav{
    display: flex;
    gap: 30px;
}
nav a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
    line-height: 10px;
    padding-top: 17px;
    transition: 0.4s ease-in-out;
}
nav a:hover{
    color: var(--primary-color);
}
.hamburger{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hamburger div{
    width: 25px;
    height: 3px;
    background: var(--dark-color);
}

/* hero section */
.hero{
    background: url('../images/back.jpg');
    background-size: 100%;
    padding-bottom: 150px;
}
.hero-text{
    flex: 1;
    min-width: 300px;
    padding: 100px 0px;
}
.tag{
    background: var(--primary-color);
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    color: var(--white);
    font-size: 12px;
}
.hero-text h1{
    font-size: 3.5rem;
    color: var(--heading-color);
    margin-bottom: 20px;
}
.hero-text p{
    color: var(--light-text);
    margin-bottom: 20px;
}
.hero-text h1 span{
    color: var(--primary-color);
}
.hero-image{
    padding-top: 50px;
    flex: 1;
    min-width: 300px;
    text-align: center;
    position: relative;
}
.hero-image img{
    max-width: 100%;
    height: auto;
    margin-bottom: -45px;
}
.shape{
    background: url('../images/heroBanner.jpg');
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 500px;
    transition: all 1s ease-in-out;
    width: 500px;
    background-size: 100%;
    z-index:1;
    position:relative;
}
@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 70% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
.heroIcon1, .heroIcon2, .heroIcon3{
    position: absolute;
    z-index: 99;
}
.heroIcon1{
    right: 180px;
    top: 0%;
    animation: slideDown 1s ease-in-out infinite alternate;
}
.heroIcon2{
    right: 0;
    bottom: 50%;
    animation: slideRight1 1s ease-in-out infinite alternate;
}
.heroIcon3{
    left: 0px;
    bottom: 50px;
    animation: slideUp 1s ease-in-out infinite alternate;
}
@keyframes slideDown {
    from {top:0px;}
    to {top:20px;}
}
@keyframes slideDow1 {
    from {bottom:0px;}
    to {bottom:20px;}
}
@keyframes slideRight1 {
    from {right:0px;}
    to {right:20px;}
}

/* counter-section */
.counter-section{
    background: var(--white);
    box-shadow: var(--shadow);
    margin: 2rem auto;
    margin-top: -100px;
    border-radius: 10px;
    max-width: 1200px;
}
.counter-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    text-align: center;
}
.countera-box div{
    flex: 1 1 200px;
    margin: 1rem 0;
}
.counter{
    font-size:3rem;
    font-family:arial;
    color: var(--primary-color);
    font-weight: bold;
}
.counter + p{
    color: var(--text-color);
    margin-top: 0.3rem
}